alias sublime='subl'
alias ls='ls -Fh'
alias c='clear'
alias h='history'
alias j='jobs'
alias rm='rm -i'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias -- -='cd -'
alias sl='ls'
alias docs='cd ~/Documents/junior'
alias dev='cd ~/Development'
alias dl='cd ~/Downloads'
alias clean='rm -f *~'
alias other='mv /Volumes/CODY1T/Movies/.Other /Volumes/CODY1T/Movies/Other'
alias .other='mv /Volumes/CODY1T/Movies/Other /Volumes/CODY1T/Movies/.Other'
alias vim='mvim'
alias mvim='mvim -v'
alias ccat='pygmentize -g'
alias tmux='TERM=screen-256color-bce tmux'
alias 33='cd ~/Documents/sophomore/cs033'
alias 145='cd ~/Documents/junior/cs145'
alias 157='cd ~/Documents/junior/cs157'
alias 167='cd ~/Documents/junior/cs167/weenix'
alias phil='cd ~/Documents/junior/phil360'

# Lock the screen
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# Reload the shell
alias reload='exec $SHELL -l'

# Colorize and number grep
export GREP_OPTIONS="-n --color"

# Colorize ls
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad
